.shipping-select-container {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shipping-select-container.countryInput {
  position: absolute;
  left: 68%;
  top: 206px;
}

.shipping-select-container .select-label {
  user-select: none;
  font-size: 0.8rem;
  color: black;
  flex: 0 1 17%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: left;
}

.select-label.countryInput {
  flex: 0 1 12%;
}

.select-container {
  background-color: rgba(88, 88, 88, 0.1);
  margin: 0;
  padding: 5px 5px 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 15%;
  border-radius: 3px;
}

.select-container select {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.75rem;
  background-color: transparent;
  border: none;
  outline: 0;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px; */
}

.select-container select:focus {
  border: none;
  box-shadow: 0 0 3pt 2pt #719ECE;
}
