.shipping-info-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 90%;
  width: 100%;
  position: relative;
}

.shipping-info-form-container h4 {
  text-transform: uppercase;
  user-select: none;
  margin: 0;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  width: 100%;
  text-align: left;
}

.shipping-info-form-container hr {
  border: 0;
  border-top: 2px solid rgba(88, 88, 88, 0.1);
  width: 95%;
  margin: 0 0 10px 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0 0 0 10px;
  padding: 10px;
  position: relative;
}

.shipping-info-form-container .h4-class {
  padding: 10px 20px 20px 20px;
}

.shipping-info-form-container .error {
  color: rgb(204, 44, 83);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 12px;
  user-select: none;
  height: 1rem;
  overflow: hidden;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-top: auto;
}

.shipping-info-form-container .error.slide {
  animation-duration: 0.25s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  from {
    transform: translateY(100%);
    transform: scale(0);
    /* transform: rotateX(0); */
  }
  to {
    transform: translateY(0);
    transform: scale(100%);
    /* transform: rotateX(360deg); */
  }
}

.shipping-details {
  position: absolute;
  left: 65%;
  top: 537px;
  color: rgb(204, 44, 83);
  font-size: .8rem;
  font-weight: 700;text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.back-and-error-container {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.back-to-cart-btn {
  border: 2px solid rgb(88, 88, 88);
  color: black;
  font-weight: 800;
  font-size: .8rem;
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  user-select: none;
  margin-top: auto;
  cursor: pointer;
  margin-left: 20px;
}

.back-to-cart-btn:hover {
  background-color: rgb(234, 235, 238);
}

.back-to-cart-btn:active {
  text-decoration: underline;
}

