.payment-screen-container {
  transform: scale(0);
  transition: all 0.5s ease-in;
  max-width: 960px;
  width: 960px;
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  top: 150px;
  color: black;
  position: absolute;
}

.payment-screen-container.open {
  transform: scale(100%);
}
