div:focus {
  background: green;
}

div:active {
  color: orange;
}

div:focus:active {
  font-weight: bold;
}

#anim {
  animation-duration: .25s;
  /* transform: translateX(-100%); */
  animation-name: slidein;
}

@keyframes slidein {
  from {
    /* margin-right: 100%;
    width: 300%; */
    /* transform: translateX(0%); */
      /* transform: translateX(-100%); */
  }

  to {
    /* margin-right: 0%;
    width: 100%; */
    /* transform: translateX(0%); */
    transform: rotateX(360deg);
  }
}

button {
  cursor: pointer;
}